<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="E4Um.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <E4Um.Properties.Settings>
            <setting name="termFontType" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="translationFontType" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="termFontSize" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="translationFontSize" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="termFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="translationFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="isTermUpper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isTranslationUpper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="secondsToOpen" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="delayMilliSeconds" serializeAs="String">
                <value>1</value>
            </setting>
        </E4Um.Properties.Settings>
    </userSettings>
</configuration>